*{
  margin:0;
  padding:0;
  font-family:'Times New Roman', Times, serif ;
}
body{
  background-color: rgb(15, 12, 12);
  color:white;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav:hover{
  background-color: rgb(70, 36, 36);
}
nav ul{
  display:flex;
  justify-content:center;
  list-style: none;

}
.name{
  font-size: 30px;
  color:#ED1E79
}
nav li a{
  margin: 0 30px;
  text-decoration: none;
  color:beige;
}
nav li a:hover{
  color:blue;
  font-size: 1.2rem;
}
.Home{
  margin:70px;
  margin-top:200px;
  text-align: center;
  height: 60vh;

}

.naam{
  font-size: 3.5rem;
  background: linear-gradient(90deg,#f0c, #33f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#download1{
  font-size:1.6rem;
  margin:6px;
  border:2px solid black;
  border-radius: 20px;
  padding:6px;
  background-image: linear-gradient(to right,#D8B5FF,#1EAE98);

}
#download2{
   font-size:1.6rem;
    margin:6px;
     border:2px solid black;
      background-image: linear-gradient(to right,#D8B5FF,#1EAE98);
   border-radius: 20px;
  padding:6px;
}
#download1:hover{
   background-image: linear-gradient(to right,#1EAE98,#D8B5FF);
}
#download2:hover{
 background-image: linear-gradient(to right,#1EAE98,#D8B5FF);
}
.about{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:auto;

}
.about .photo{
  width:50%;
  margin:auto;
  border-radius: 50%;


}
.about .aboutme{
  width:50%;
  font-size: 1.5rem;
  margin:5rem;
}
.Skills{
  margin-left:50px;
  

}

.lang{
  color:grey;
}
.Skills .line{
  background: white;
  width:80vw;
  height: 2px;
  margin:20px;
}
.Skills  span{
  margin:1.2rem;
  border: 1px solid black;
  padding:5px 16px;
  box-shadow: 5 5 10px #f0c6;;
  border-radius: 15px;
  background-image: linear-gradient(to right,#662D8C ,#ED1E79);
  max-width:150px;

}
.table{
  display: flex;

}
html{
  scroll-behavior: smooth;
}
.contact{
   display:flex;
  color:white;
  flex-direction: column;
  font-size:0.9rem;
  background-color: rgb(11, 10, 10);
  align-items: center;
  padding:1rem;
   margin: 0 auto;
}
.info{
  max-width:300px;
  margin:2px auto;
  padding: 0.9em;
  width:40%;
  background-color:transparent;
  text-align: center;
  color: white;
  gap:1.8rem;
  border-radius:20px;

}
#msg{
 height: 5rem;
    padding: 0.2rem 0.9rem;
}
#btn{
  margin: 5px;
  font-size: 20px;
  width:5.5rem;
  background-image: linear-gradient(90deg, #7bc8ff, #9b6eff);
  border-radius: 20px;
}
#btn:hover{
   background-image: linear-gradient(90deg, #9b6eff, #7bc8ff);
}
@media (max-width: 864px) {
  .about{
    flex-direction: column;
  }
 .table{
     flex-direction: column;
  }

}
@media(max-width:675px){
  .table{
     flex-direction: column;
  }
}
@media(max-width:554px){
  nav{
     flex-direction: column;
  }
}